<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>About Quickscholar</h1>
    <p>Quickscholar is a web application that allows users to search for academic papers and view their details. It provides a user-friendly interface for accessing scholarly information.</p>
    <h2>Builders</h2>
    <ul>
        <li>Jacob Musa Mahlangu</li>
    </ul>
</body>
</html>