<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Quickscholar</h1>
    <h2>Welcome to Quickscholar</h2>
    <div>
        <p>Quickscholar is a web application that allows users to search for academic papers and view their details. It provides a user-friendly interface for accessing scholarly information.</p>
         <a href = "search.html">Search for papers</a> 
    </div>

    <div> 
        <h3>Features:</h3>
        <ul>
            <li>Search for academic papers by title, author, or keywords.</li>
            <li>View detailed information about each paper, including abstract, authors, and publication date.</li>
            <li>Save favorite papers for easy access later.</li> 
        </ul>
    </div>

    <div> 
        <h4> About Quickscholar</h4>
        <p>Learn more about the Quickscholar project and its developers.</p>
        <a href = "about.html">Learn more</a>

    </div>

</body>
</html>